body {
    background: url('Image/background.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.home{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 43px;
    color: aliceblue;
    text-align: center;
}

.boutton2{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, .2); 
    border-radius: 20px;
    height: 60px;
    width: 250px;
    padding: 15px;
    margin: 40px;
    background: transparent;
    backdrop-filter: blur(20px);
}

.boutton3{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, .2); 
    border-radius: 20px;
    height: 60px;
    width: 250px;
    padding: 15px;
    margin: 40px;
    background: transparent;
    backdrop-filter: blur(20px);
}

.boutton4{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, .2); 
    border-radius: 20px;
    height: 60px;
    width: 250px;
    padding: 15px;
    margin: 40px;
    background: transparent;
    backdrop-filter: blur(20px);
}

.conteneur{
    display: flex;
    justify-content: center;
}

.home_button{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, .2); 
    border-radius: 10px;
    height: 25px;
    width: 25px;
    background: transparent;
    backdrop-filter: blur(20px);
}